<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/myCSS.css}" href="/myCSS.css"  rel="stylesheet" type="text/css"  />
    <style>

	</style>
</head>
<body>
	<h1>CINEMA</h1>
	<p>Please choose an hour. Booking a ticket: step 3.</p>
	<form action="#" th:action="@{/hour}"  th:object="${reservation}" method="post">
			<select th:field="*{hour}">
			  <option th:each="d : ${hour}" 
			          th:value="${d}"
			          th:text="${d}"/>
			</select>
			<input type="submit" value="submit"/>  
		</form>
</body>
</html>